Source: pyjamas
Section: python
Priority: extra
Maintainer: Luke Kenneth Casson Leighton <lkcl@lkcl.net>
Build-Depends: debhelper (>= 7), python
Build-Depends-Indep: python-support (>= 0.5.3)
Standards-Version: 3.8.3
Homepage: http://pyjs.org

Package: pyjamas
Architecture: all
Depends: ${misc:Depends}, pyjamas-ui, pyjamas-pyjs, pyjamas-desktop, pyjamas-gchart
Recommends: pyjamas-doc
Description: Python web widget toolkit and Python-to-Javascript compiler
 Pyjamas is a stand-alone Python to Javascript compiler, an AJAX
 framework / library and a Desktop-like Widget set.
 .
 Pyjamas is typically used for the development of "Web 2.0" RIAs,
 where the application can be almost exclusively written in Python,
 instead of Javascript, yet compiled to run in the user's browser.
 Pyjamas also supports running the application as pure Python,
 unmodified, using Pyjamas Desktop (conceptually similar to Adobe AIR)
 .
 Pyjamas does not do the "usual" static AJAX Javascript framework
 paradigm but instead provides the developer with the tools and the
 libraries to write their own Web 2.0 AJAX Framework, as if they
 were programming and working with a standard Desktop Widget Set.
 All the usual browser incompatibilities (e.g. History Management
 and HTTPRequest) are taken care of.
 .
 The Pyjamas User-Interface Widget Set is startlingly similar to
 that of Python-Qt4 and Python-Gtk2, with the distinct advantage
 that applications run in all major web browsers, with absolutely
 no plugins required (only Javascript need be enabled).  Additional
 advantages over the use of standard Desktop Widget sets are that
 Pyjamas provides direct access to the full set of HTML features -
 CSS, NPAPI Plugins such as Adobe Flash, and SVG 2D Canvas.
 All these are directly available, rather than requiring additional
 components.

Package: pyjamas-pyjs
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
Recommends: pyjamas-ui
Description: Pyjamas Python-to-Javascript compiler
 Pyjamas is a stand-alone Python to Javascript compiler, an AJAX
 framework / library and a Desktop-like Widget set.
 .
 This package contains the stand-alone python-to-javascript compiler.

Package: pyjamas-desktop
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-hulahop
Recommends: pyjamas-ui
Description: Python web widget toolkit (Desktop version)
 Pyjamas Desktop is the desktop version of Pyjamas, the 
 Web Widget application framework.
 .
 Pyjamas is typically used for the development of "Web 2.0" RIAs,
 where the application can be almost exclusively written in Python,
 instead of Javascript, yet compiled to run in the user's browser.
 .
 The Desktop version of Pyjamas takes the original Python application
 (which, in the browser version, is put through a Javascript Compiler),
 and executes it directly, through the standard Python Interpreter,
 unmodified.  The Pyjamas Infrastructure then uses XULRunner as the
 Browser Engine, to render the application's widgets.

Package: pyjamas-ui
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
Description: Python Pyjamas Web Widget Set library
 Pyjamas is a stand-alone Python to Javascript compiler, an AJAX
 framework / library and a Desktop-like Widget set.
 .
 Pyjamas is typically used for the development of "Web 2.0" RIAs,
 where the application can be almost exclusively written in Python,
 instead of Javascript, yet compiled to run in the user's browser.
 Pyjamas Desktop is the desktop version, where the exact same
 application can also be run stand-alone on the desktop
 (where debugging is slightly easier).
 .
 This package contains the User-Interface Widgets that are common
 to both Pyjamas and Pyjamas-Desktop.

Package: pyjamas-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: Python web widget set 
 Pyjamas is a stand-alone Python to Javascript compiler, an AJAX
 framework / library and a Desktop-like Widget set.
 .
 This package contains the documentation and the examples.

Package: pyjamas-gchart
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, pyjamas-ui
Recommends: pyjamas-desktop
Description: Pyjamas Python port of GWT GChart Charting and Graph Widget Library
 Pyjamas is a stand-alone Python to Javascript compiler, an AJAX
 framework / library and a Desktop-like Widget set.
 .
 This package contains a port of GChart: http://code.google.com/p/gchart to
 Pyjamas.  Written in pure Python, it can either be used to create graphs,
 bar charts and pie charts in a user's web browser (compiled to javascript),
 or it can run as a desktop application under Pyjamas-Desktop.
 An online demo is here:
 http://pyjs.org/examples/gcharttestapp/output/GChartTestApp.html
 .
 Please note: pyjamas-gchart is experimental but functional, and does not yet
 use SVG Canvas (which is much faster).

