Source: pyjamas
Section: python
Priority: extra
Maintainer: Luke Kenneth Casson Leighton <lkcl@lkcl.net>
Build-Depends: debhelper (>= 7), python-support, python (>= 2.4)
Standards-Version: 3.8.0
Homepage: http://pyjs.org

Package: pyjamas
Architecture: all
Depends: python (>= 2.4), python-central (>= 0.5.7)
Description: Python web widget toolkit and Python-to-Javascript compiler
 Pyjamas is a stand-alone Python to Javascript compiler, an AJAX
 framework / library and a Desktop-like Widget set.
 .
 Pyjamas is typically used for the development of "Web 2.0" RIAs,
 where the application can be almost exclusively written in Python,
 instead of Javascript, yet compiled to run in the user's browser.
 .
 Pyjamas does not do the "usual" static AJAX Javascript framework
 paradigm but instead provides the developer with the tools and the
 libraries to write their own Web 2.0 AJAX Framework, as if they
 were programming and working with a standard Desktop Widget Set.
 All the usual browser incompatibilities (e.g. History Management
 and HTTPRequest) are taken care of.
 .
 The Pyjamas User-Interface Widget Set is startlingly similar to
 that of Python-Qt4 and Python-Gtk2, with the distinct advantage
 that applications run in all major web browsers, with absolutely
 no plugins required (only Javascript need be enabled).  Additional
 advantages over the use of standard Desktop Widget sets are that
 Pyjamas provides direct access to the full set of HTML features
 - CSS, NPAPI Plugins such as Adobe Flash, and SVG 2D Canvas.
 All these are directly available.

