#!/usr/bin/make -f
# -*- makefile -*-

-include /usr/share/python/python.mk
ifeq (,$(py_sitename))
  py_sitename = site-packages
  py_libdir = /usr/lib/python$(subst python,,$(1))/site-packages
  py_sitename_sh = $(py_sitename)
  py_libdir_sh = $(py_libdir)
endif






build: build-stamp

build-stamp: 
	dh_testdir

	python bootstrap.py /usr/share/pyshared /usr/share/pyjamas .
	python run_bootstrap_first_then_setup.py build
	python run_bootstrap_first_then_pyjd_setup.py build

	touch $@

clean: 
	dh_testdir
	dh_testroot
	rm -f build-stamp 

	rm -fr tmp # remove examples

	python run_bootstrap_first_then_setup.py clean

	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	# install the package into debian/pyjamas.
	python run_bootstrap_first_then_setup.py install --root=debian/pyjamas-build

	# install the package into debian/pyjamas-desktop
	python run_bootstrap_first_then_pyjd_setup.py install --root=debian/pyjamas-desktop

	# move examples out way.
	mkdir -p tmp
	mv  debian/pyjamas-build/usr/share/pyjamas/examples \
	    tmp

	# shuffle things around...
	#mv debian/pyjamas-build/usr/share/pyjamas/pygtkweb \
	#    tmp
	mkdir -p debian/pyjamas-ui/usr/share
	mv debian/pyjamas-build/usr/share/pyjamas debian/pyjamas-ui/usr/share/

	# replace ../../bin/pyjsbuild with pyjsbuild
	sed -i -e's/..\/..\/bin\///' tmp/examples/*/build.sh


binary-indep: build install

	dh_testdir 
	dh_testroot 
	dh_installchangelogs
	dh_installchangelogs -ppyjamas CHANGELOG
	dh_installdocs -ppyjamas-doc doc/*
	dh_installdocs -ppyjamas-ui 
	dh_installdocs -ppyjamas 
	dh_installdocs -ppyjamas-desktop
	#dh_installdocs -ppyjamas-pygtkweb
	dh_installexamples -ppyjamas-doc tmp/examples/*
	#dh_installexamples -ppyjamas-pygtkweb tmp/pygtkweb/*
	dh_install -ppyjamas-pyjs bin/pyjsbuild /usr/bin
	dh_installman -ppyjamas-pyjs debian/pyjsbuild.1

	dh_pysupport -ppyjamas-pyjs /usr/share/pyshared/pyjs
	dh_pysupport -ppyjamas-desktop /usr/share/pyshared/pyjd
	dh_pysupport -ppyjamas-ui /usr/share/pyjamas

	# weeeird... something to do with dh_pysupport, how do you get it
	# to stop interfering (when doing dh_pysupport for two packages??)
	rm -fr debian/pyjamas-desktop/usr/share/pyshared/pyjs
	grep -v pyjs debian/pyjamas-desktop/usr/share/python-support/pyjamas-desktop.public > /tmp/pyjd.public
	mv /tmp/pyjd.public debian/pyjamas-desktop/usr/share/python-support/pyjamas-desktop.public

	dh_link 
	dh_compress -Xexamples # -Xpygtkweb
	dh_fixperms 
	dh_installdeb 
	dh_shlibdeps 
	dh_gencontrol 
	dh_md5sums 
	dh_builddeb 

# Build architecture-dependent files here.
binary-arch: build install

binary: binary-indep 
.PHONY: build clean binary-indep binary-arch binary install 
