#!/usr/bin/make -f
# -*- makefile -*-

# this is apparently for ubuntu weirdness.
-include /usr/share/python/python.mk
ifeq (,$(py_sitename))
  py_sitename = site-packages
  py_libdir = /usr/lib/python$(subst python,,$(1))/site-packages
  py_sitename_sh = $(py_sitename)
  py_libdir_sh = $(py_libdir)
endif




build: build-stamp

build-stamp: 
	dh_testdir

	python bootstrap.py /usr/share/pyshared /usr/share/pyjamas .
	python run_bootstrap_first_then_setup.py build
	python run_bootstrap_first_then_pyjd_setup.py build

	touch $@

clean: 
	dh_testdir
	dh_testroot
	rm -f build-stamp 

	rm -fr tmp # remove examples

	python run_bootstrap_first_then_setup.py clean

	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	# install the desktop package into debian/pyjamas-desktop
	python run_bootstrap_first_then_pyjd_setup.py install \
	                  $(py_setup_install_args) --root=debian/pyjamas-desktop

	# install the pyjs package into debian/pyjamas (which also
	# includes building pyjd, which we do NOT install in pyjs)
	python run_bootstrap_first_then_setup.py install \
	                  $(py_setup_install_args) --root=debian/pyjamas-build

	# move pyjamas-build gchart to pyjamas-gchart
	mkdir -p debian/pyjamas-gchart/usr/share/pyjamas/library/pyjamas/chart
	mv debian/pyjamas-build/usr/share/pyjamas/library/pyjamas/chart/* \
	   debian/pyjamas-gchart/usr/share/pyjamas/library/pyjamas/chart
	rm -fr debian/pyjamas-build/usr/share/pyjamas/library/pyjamas/chart

	# move examples out way.
	mkdir -p debian/pyjamas-doc/examples
	mv  debian/pyjamas-build/usr/share/pyjamas/examples/* \
	    debian/pyjamas-doc/examples
	rm -fr debian/pyjamas-build/usr/share/pyjamas/examples

	# shuffle things around...
	#mv debian/pyjamas-build/usr/share/pyjamas/pygtkweb \
	#    tmp
	mkdir -p debian/pyjamas-ui/usr/share
	mv debian/pyjamas-build/usr/share/pyjamas debian/pyjamas-ui/usr/share/

	# replace ../../bin/pyjsbuild with pyjsbuild
	sed -i -e's/..\/..\/bin\///' debian/pyjamas-doc/examples/*/build.sh

binary-indep: build install

	dh_testdir 
	dh_testroot 
	dh_lintian
	dh_installdocs
	dh_installexamples
	dh_installchangelogs
	dh_installchangelogs -ppyjamas CHANGELOG
	dh_install -ppyjamas-pyjs bin/pyjsbuild /usr/bin
	dh_installman -ppyjamas-pyjs debian/pyjsbuild.1

	dh_pysupport -ppyjamas-gchart
	dh_pysupport -ppyjamas-pyjs /usr/share/pyshared/pyjs
	dh_pysupport -ppyjamas-desktop /usr/share/pyshared/pyjd
	dh_pysupport -ppyjamas-ui /usr/share/pyjamas

	# weeeird... something to do with dh_pysupport, how do you get it
	# to stop interfering (when doing dh_pysupport for two packages??)
	# what's going on here is that the pyjamas-desktop files are perfectly
	# well laid out.... until dh_pysupport goes and screws them up by
	# doing nothing short of copying the contents of _another_ package's
	# files into it!
	# greetings, debian developers: if you'd like to investigate the fault,
	# knock yourselves out... but i ain't getting involved, and am quite
	# happy to have this awful-looking workaround.  hurrah!
	rm -fr debian/pyjamas-desktop/usr/share/pyshared/pyjs
	grep -v pyjs \
	   debian/pyjamas-desktop/usr/share/python-support/pyjamas-desktop.public \
	   > /tmp/pyjd.public
	mv /tmp/pyjd.public \
	   debian/pyjamas-desktop/usr/share/python-support/pyjamas-desktop.public

	dh_link 
	dh_compress -Xexamples 
	dh_fixperms 
	dh_installdeb 
	dh_shlibdeps 
	dh_gencontrol 
	dh_md5sums 
	dh_builddeb 

binary-arch: build install

binary: binary-indep 
.PHONY: build clean binary-indep binary-arch binary install 

