#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# this is apparently for ubuntu weirdness.
-include /usr/share/python/python.mk
ifeq (,$(py_sitename))
  py_sitename = site-packages
  py_libdir = /usr/lib/python$(subst python,,$(1))/site-packages
  py_sitename_sh = $(py_sitename)
  py_libdir_sh = $(py_libdir)
endif

%:
	dh $@

override_dh_auto_clean:
	dh_auto_clean
	rm -fr tmp # remove examples
	python run_bootstrap_first_then_setup.py clean

override_dh_auto_build:
	python bootstrap.py /usr/share/pyshared /usr/share/pyjamas .
	python run_bootstrap_first_then_setup.py build
	python run_bootstrap_first_then_pyjd_setup.py build

override_dh_auto_install:
	# install the desktop package into debian/pyjamas-desktop
	python run_bootstrap_first_then_pyjd_setup.py install \
	                  $(py_setup_install_args) --root=debian/pyjamas-desktop
	
	# install the pyjs package into debian/pyjamas (which also
	# includes building pyjd, which we do NOT install in pyjs)
	python run_bootstrap_first_then_setup.py install \
	                  $(py_setup_install_args) --root=debian/tmp
	
	mv debian/tmp/usr/share/pyjamas/library/pyjamas/chart	debian/pyjamas-gchart/usr/share/pyjamas/library/pyjamas
	mv debian/tmp/usr/share/pyjamas/library/pyjamas/Canvas 	debian/pyjamas-canvas/usr/share/pyjamas/library/pyjamas

override_dh_pysupport:
	dh_pysupport
	dh_pysupport -ppyjamas-ui /usr/share/pyjamas
	# no idea if this is needed, but am trying to comply with old package
	# get rid of this whole paragraph if it's not needed
	rm -rf debian/pyjamas-desktop/usr/share/pyshared/pyjs
