body {
    font-size: 11px;
    margin: 0px;
    padding: 0px;
    font-family: Arial,Sans-Serif;
}

.gwt-HorizontalSplitPanel {
}

.gwt-HorizontalSplitPanel .hsplitter {
    cursor: move;
    border: 0px; 
    background: #91c0ef url(images/vborder.png) repeat-x;
}
.gwt-VerticalSplitPanel {
}

.gwt-VerticalSplitPanel .vsplitter {
    cursor: move;
    border: 0px; 
    background: #91c0ef url(images/hborder.png) repeat-x;
}

.midpanel-SelectedRow td {
  border-bottom: 1px solid #33A;
  border-top: 1px solid #33A;
}

.rightpanel-cellcornerformat {
  border: 1px solid #33A;
  background: #CCf;
}

.rightpanel-celltitleformat {
  background: #CCf;
  border-top: 1px solid #33A;
  border-bottom: 1px solid #33A;
  border-right: 1px solid #33A;
}

.rightpanel-cellleftformat {
  border-bottom: 1px solid #33A;
  border-right: 1px solid #33A;
  border-left: 1px solid #33A;
  background: #DDf;
}

.rightpanel-cellformat {
  border-bottom: 1px solid #33A;
  border-right: 1px solid #33A;
  background: #EEf;
}

.midpanel-SelectedRow {
  background: #CCf;
}


.gwt-TabPanel {
}

.gwt-TabPanelBottom {
  border-left: 1px solid #87B3FF;
}

.gwt-TabBar {
  background-color: #C3D9FF;
  font-size: smaller;
}

.gwt-TabBar .gwt-TabBarFirst {
  height: 100%;
  border-bottom: 1px solid #87B3FF;
  padding-left: 3px;
}

.gwt-TabBar .gwt-TabBarRest {
  border-bottom: 1px solid #87B3FF;
  padding-right: 3px;
}

.gwt-TabBar .gwt-TabBarItem {
  border-top: 1px solid #C3D9FF;
  border-bottom: 1px solid #87B3FF;
  padding: 2px;
  cursor: pointer;
  cursor: hand;
}

.gwt-TabBar .gwt-TabBarItem-selected {
  font-weight: bold;
  background-color: #E8EEF7;
  border-top: 1px solid #87B3FF;
  border-left: 1px solid #87B3FF;
  border-right: 1px solid #87B3FF;
  border-bottom: 1px solid #E8EEF7;
  padding: 2px;
  cursor: default;
}

.gwt-DialogBox {
    sborder: 8px solid #C3D9FF;
    border: 2px outset;
    background-color: white; 
}        

.gwt-DialogBox .Caption {
    background-color: #C3D9FF;
    padding: 3px; 
    margin: 2px;
    font-weight: bold;
    cursor: default;
}

.gwt-DialogBox .Close {
    cursor: pointer;
}


.gwt-DialogBox .Header {
    background-color: #C3D9FF;
    cursor: default;
}

.rightpanel-title {
    background-color: #C3D9FF;
  border-top: 1px solid #87B3FF;
  border-left: 1px solid #87B3FF;
  border-right: 1px solid #87B3FF;
  border-bottom: 1px solid #E8EEF7;
  padding: 2px;
  font-weight: bold;
  cursor: default;
}

.gwt-Tree {
}

.gwt-Tree .gwt-TreeItem {
    font-size: smaller;
}

.gwt-Tree .gwt-TreeItem-selected {
    background-color: #C3D9FF;
}


